header ol {
    padding: 10px 16px;
    list-style: none;
    background-color: var(--background-color);
}

/* Display list items side by side */
header ol li {
    display: inline;
    font-size: var(--font-size);
}

/* Add a slash symbol (/) before/behind each list item */
header ol li+li:before {
    padding: 1px;
    color: var(--color);
    content: ">\00a0";
}

/* Add a color to all links inside the list */
header ol li a {
    color: var(--primary);
    text-decoration: none;
}

/* Add a color on mouse-over */
header ol li a:hover {
    color: var(--primary-hover);
    text-decoration: underline;
}