<script type="module" defer>
    // Adapted from https://www.roboleary.net/2022/01/13/copy-code-to-clipboard-blog.html
    const copyButtonLabel = '<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--contrast)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>';
    const successCopiedButtonLabel = '<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--contrast)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>';

    const successShowSeconds = 10;

    // use a class selector if available
    let blocks = document.querySelectorAll("pre");

    blocks.forEach((block) => {
        //        block.setAttribute("tabindex", 0);

        // only add button if browser supports Clipboard API
        if (navigator.clipboard) {
            let button = document.createElement("button");
            button.ariaLabel = "Copy To Clipboard";
            button.classList.add(["copy-code"]);
            button.classList.add(["outline"]);
            button.setAttribute("data-tooltip", "Copy To Clipboard");
            button.setAttribute("data-placement", "left");
            button.innerHTML = copyButtonLabel;
            block.prepend(button);

            button.addEventListener("click", async () => {
                await copyCode(block, button);
            });
        }
    });

    async function copyCode(block, button) {
        let code = block.querySelector("code");
        let text = code.innerHTML;

        await navigator.clipboard.writeText(text);

        // visual feedback that task is completed
        button.innerHTML = successCopiedButtonLabel;
        button.setAttribute("data-tooltip", "Successfully Copied");

        setTimeout(() => {
            button.innerHTML = copyButtonLabel;
            button.setAttribute("data-tooltip", "Copy To Clipboard");
        }, 1000 * successShowSeconds);
    }
</script>