{% if info %}
{% set link = info.link | default(value="#")%}
{% set name = info.name | default(value="Homepage") %}
{% set placement = info.placement | default(value="top")%}
{% set class = info.class | default(value="feather")%}
{% set rel_link = info.image.rel_link | default(value="circle")%}
{% endif %}
<a role="img" href='{{link | default(value="#")}}' title='{{name | default(value="Feather SVG")}}'
    data-tooltip='{{name | default(value="Homepage")}}' data-placement='{{placement | default(value="top")}}'
    aria-label="{{name | default(value='Feather SVG')}}">
    <title>{{name | default(value="Feather SVG")}}</title>
    <svg width="36" height="36" fill="none" stroke="{{stroke}}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class='{{class | default(value="feather")}}'>
        <use href='{{config.base_url}}feather-sprite.svg#{{rel_link | default(value="circle")}}' />
    </svg>
</a>