{% import "macros.tera.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head_info %}
  <meta charset="utf-8">
  <title>MyBlog</title>
  <base href="{{config.base_url}}">
  <link rel="stylesheet" href="pico.fluid.classless.css">
  {% endblock head_info %}
</head>

<body>
  <header>
    {% block header %}
    {% set notes_index = get_url(path="@/notes/_index.md") %}
    <nav>
      <ul>
        <li>{{macros::feather_svg_direct(link=get_url(path="/"), name="Homepage", rel_link="home",
          placement="right")}}</li>
      </ul>
      <ul>
        <li><a href='{{get_url(path="@/blog/_index.md")}}'> Blog</a></li>
        <li><a href='{{notes_index}}'> Notes</a></li>
      </ul>
    </nav>
    {% endblock %}
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% for website in config.extra.external_link %}
    {{macros::feather_svg(info=website)}}
    {% endfor %}
    <p>© 2023 Suraj S Singh</p>
    <p> Created with <a href="https://www.getzola.org/">Zola</a>, <a href="https://picocss.com/">Pico.CSS</a>, and <a
        href="https://feathericons.com"> Feather Icons</a>.</p>
    <p>Hosted on <a href="https://github.com/SurajSSingh/Site">GitHub</a>.</p>
    {% endblock %}
  </footer>
</body>

</html>