{% import "macros.tera.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Suraj's Blog</title>
  <meta name="description" content="Technical blog by Suraj S Singh">
  {% block head_info %}
  <link rel="stylesheet" href="{{config.base_url}}pico.fluid.classless.css">
  {% endblock head_info %}
</head>

<body>
  <header>
    {% block header %}
    {% include "includes/default/header.tera.html" %}
    {% endblock %}
  </header>
  <aside>{% block top_aside %} {% endblock %}</aside>
  <main>
    {% block content %} {% endblock %}
  </main>
  <aside>{% block bottom_aside %} {% endblock %}</aside>
  <footer>
    {% block footer %}
    {% for website in config.extra.external_link %}
    {{macros::feather_svg(info=website, stroke="var(--primary)")}}
    {% endfor %}
    <p>© 2023 Suraj S Singh</p>
    <p> Created with <a href="https://www.getzola.org/">Zola</a>, <a href="https://picocss.com/">Pico.CSS</a>, and <a
        href="https://feathericons.com"> Feather Icons</a>.</p>
    <p>Hosted on <a href="https://github.com/SurajSSingh/Site">GitHub</a>.</p>
    {% endblock %}
  </footer>
</body>

</html>