{% extends "base.tera.html" %}

{% block title %}
{% if section.title %}
{{ section.title ~ " | " ~ config.title}}
{% else %}
{{super()}}
{% endif %}
{% endblock title %}

{% block content %}

<hgroup>
    <h1>
        {{ section.title }}
    </h1>
    <p>
        {{section.description}}
    </p>
</hgroup>

{{section.content | safe}}

<!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
<div class="grid">
    {% for subsect in section.subsections %}
    {{macros::article_card(info=get_section(path=subsect))}}
    {% endfor %}
    {% for page in section.pages %}
    {{macros::article_card(info=page)}}
    {% endfor %}
</div>
{% endblock content %}