{% extends "base.tera.html" %}

{% block title %}
{% if page.title %}
{{ page.title ~ " | " ~ config.title}}
{% else %}
{{super()}}
{% endif %}
{% endblock title %}

{% block head_info %}
{{ super() }}
{% if page.extra.render_mermaid | default(value=false) %}
{% include "includes/scripts/mermaid.tera.html" %}
{% endif %}
{% endblock head_info %}

{% block top_aside %}
{{ super() }}
{% if page.extra.include_toc | default(value=true) %}
{% include "includes/page/toc.tera.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if page.title %}
<hgroup>
    <h1 id="#">
        {{ page.title }}
    </h1>
    <p>
        {% if page.date %}
        <strong>First Created: {{ page.date }}</strong>
        {% endif %}
    </p>
    <p>
        {% if page.updated %}
        <strong>Latest Update: {{ page.updated }}</strong>
        {% endif %}
    </p>
    <p>
        <em>License: {{ page.extra.license | default(value="CC BY-SA-NC") }}</em>
    </p>
</hgroup>
{% else %}
<h1>Unknown Page</h1>
{% endif %}
{{ page.content | safe }}

{% endblock content %}

{% block bottom_aside %}
{{ super() }}
{% if page.extra.allow_comments %}
{% include "includes/page/giscus_comments.tera.html" %}
{% endif %}
{% endblock %}