{% extends "base.tera.html" %}

{% block head_info %}
{{ super() }}
{% if page.extra.render_mermaid | default(value=false) %}
{# Adapted from https://github.com/elixir-lang/ex_doc#rendering-mermaid-graphs #}
<script type="module" defer>
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/+esm';
    mermaid.initialize({ startOnLoad: true, theme: 'dark' });
    let id = 0;
    for (const codeEl of document.querySelectorAll("pre.language-mermaid code.language-mermaid")) {
        const preEl = codeEl.parentElement;
        const graphDefinition = codeEl.textContent;
        const graphEl = document.createElement("div");
        const graphId = "mermaid-graph-" + id++;
        mermaid.render(graphId, graphDefinition, function (svgSource, bindListeners) {
            graphEl.innerHTML = svgSource;
            bindListeners && bindListeners(graphEl);
            preEl.insertAdjacentElement("beforebegin", graphEl);
            // preEl.remove();
        });
    }
</script>
{% endif %}
{% endblock head_info %}

{% block header %}
{{ super() }}
{% if page.extra.include_breadcrumb | default(value=true) %}
{% include "includes/page/breadcrumbs.tera.html" %}
{% endif %}
{% endblock %}
{% block top_aside %}
{{ super() }}
{% if page.extra.include_toc | default(value=true) %}
{% include "includes/page/toc.tera.html" %}
{% endif %}
{% endblock %}
{% block content %}

{% if page.title %}
<hgroup>
    <h1 id="#">
        {{ page.title }}
    </h1>
    <p>
        {% if page.date %}
        <strong>First Created: {{ page.date }}</strong>
        {% endif %}
    </p>
    <p>
        {% if page.updated %}
        <strong>Latest Update: {{ page.updated }}</strong>
        {% endif %}
    </p>
    <p>
        <em>License: {{ page.extra.license | default(value="CC BY-SA-NC") }}</em>
    </p>
</hgroup>
{% else %}
<h1>Unknown Page</h1>
{% endif %}
{{ page.content | safe }}

{% if page.extra.allow_comments %}
{% include "includes/page/giscus_comments.tera.html" %}
{% endif %}
{% endblock content %}