{% extends "base.tera.html" %}

{% block header %}
{{ super() }}
{% include "includes/page/breadcrumbs.html" %}
{% include "includes/page/toc.html" %}
{% endblock %}
{% block content %}

{% if page.title %}
<hgroup>
    <h1 id="#">
        {{ page.title }}
    </h1>
    <p>
        {% if page.date %}
        <strong>First Created: {{ page.date }}</strong>
        {% endif %}
        {% if page.updated %}
        <strong>Latest Update: {{ page.updated }}</strong>
        {% endif %}
    </p>
</hgroup>
{% else %}
<h1>Unknown Page</h1>
{% endif %}
{{ page.content | safe }}
{% endblock content %}