{% extends "base.tera.html" %}

{% block content %}

<hgroup>
    <h1>
        {{ section.title }}
    </h1>
    {% if section.description %}
    <p>
        {{section.description}}
    </p>
    {% endif %}
</hgroup>

{{section.content | safe}}

<!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
<div class="grid">
    {% for page in section.pages %}
    <article>
        <a href="{{ page.permalink | safe }}">
            <header>
                <hgroup>
                    <h1>{{ page.title }}</h1>
                    <p>{{page.updated | default(value=page.date)}}</p>
                </hgroup>
            </header>
            {% if page.summary %}
            <a href="{{ page.permalink }}#continue-reading">{{page.summary | safe}}
                <small> Continue Reading... </small>
            </a>
            {% endif %}
        </a>
    </article>
    {% endfor %}
</div>
{% endblock content %}