<hgroup>
    <h2 id="comments"> <a href="#comments" class="zola-anchor">Comment Section</a></h2>
    <p>
        <em>Powered by Giscus</em>
    </p>
</hgroup>
<script src="https://giscus.app/client.js" data-repo="SurajSSingh/Tech-Tree-Blog" data-repo-id="R_kgDOICIt2g"
    data-category="Comments"
    data-category-id="DIC_kwDOICIt2s4CTop9" data-mapping="pathname" data-strict="1" data-reactions-enabled="1"
    data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme" data-lang="en" data-loading="lazy"
    crossorigin="anonymous" async>
    </script>
<noscript>
    <p>Comments cannot be rendered</p>
</noscript>