{% import "macro/macros.tera.html" as macros %}
{% import "macro/debug_macros.tera.html" as debug_macros %}
{% block variables %}

{% endblock variables %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{config.title}}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{config.description}}{% endblock description %}">
    {% block head_info %}
    <link rel="stylesheet" href="{{config.base_url}}pico.custom.css">
    <link rel="icon" href="{{config.base_url}}favicon.ico" sizes="any">
    <link rel="icon" href="{{config.base_url}}img/favicon/favicon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="{{config.base_url}}img/favicon/favicon-180.png">
    <link rel="manifest" href="{{config.base_url}}manifest.json">
    {% endblock head_info %}
  </head>

  <body>
    <header>
      {% block header %}
      {% include "includes/default/header.tera.html" %}
      {% endblock %}
    </header>
    <main id="maincontent">
      <article>
        {% block precontent %} {% endblock %}
        {% block content %} {% endblock %}
        {% block postcontent %} {% endblock %}
      </article>
    </main>
    <footer>
      {% block footer %}
      {% include "includes/default/footer.tera.html" %}
      {% endblock %}
    </footer>
  </body>

</html>