{% extends "layout/default_common.tera.html" %}

{% block title %}
{% set title = section.title %}
{{ super() }}
{% endblock title %}

{% block description %}
{% if section.description %}
{{section.description}}
{% else %}
{{super()}}
{% endif %}
{% endblock description %}

{% block precontent %}
<header>
<hgroup>
    <a href="#">
        <h1>
            {{ section.title }}
        </h1>
    </a>
    <p>
        {{section.description}}
    </p>
</hgroup>
</header>
{% endblock precontent %}

{% block content %}

{{section.content | safe}}

<!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
<hr />
{% for subsect in section.subsections %}
{{macros::article_card(info=get_section(path=subsect))}}
<hr />
{% endfor %}
{% for page in section.pages %}
{{macros::article_card(info=page)}}
<hr />
{% endfor %}

{% endblock content %}