{% extends "layout/default_common.tera.html" %}

{% block variables %}
{% set allow_comments = page.extra.allow_comments | default(value=false) %}
{% set show_sibling_pages = page.extra.show_sibling_pages | default(value=false) %}
{% endblock variables %}

{% block title %}
{% set title = page.title %}
{{ super() }}
{% endblock title %}

{% block description %}
{% if page.description %}
{{page.description}}
{% else %}
{{super()}}
{% endif %}
{% endblock description %}

{% block head_info %}
{{ super() }}
{% if allow_comments %}
{% set backline_base_url = config.extra.fallback_url | default(value=config.base_url) %}
<meta name="giscus:backlink" content="{{ backline_base_url ~ page.path}}">
{% endif %}
{% if page.extra.render_mermaid | default(value=false) %}
{% include "includes/scripts/mermaid.tera.html" %}
{% endif %}
{% if page.extra.footnote_backlink | default(value=true) %}
{% include "includes/scripts/footnote.tera.html" %}
{% endif %}
{% include "includes/scripts/copy_to_clipboard.tera.html" %}
{% if page.extra.include_progress | default(value=false) %}
{% include "includes/scripts/progress.tera.html" %}
{% endif %}
{% if page.extra.use_mathjax | default(value=false) %}
{% include "includes/page/mathjax.tera.html" %}
{% endif %}
{% if page.extra.use_katex | default(value=false) %}
{% include "includes/page/katex.tera.html" %}
{% endif %}
{% endblock head_info %}

{% block precontent %}
{% if page.extra.include_progress | default(value=false) %}
<progress id="reading-progress" max="100" value="0"></progress>
{% endif %}
<header>
{{ super() }}
{% if page.title %}
<hgroup>
    <a href="#maincontent">
        <h1 class="zola-anchor">
            {{ page.title }}
        </h1>
    </a>
    {% if page.description %}
    <p>{{page.description}}</p>
    {% endif %}
</hgroup>
{% else %}
<h1>Unknown Page</h1>
{% endif %}
    <details>
        <summary>Page Details</summary>
        {% if page.authors or config.extra.authors %}
        {% set authors = page.extra.authors | default(value=config.extra.authors) %}
        <p>
            {% if authors is iterable %}
            Authors: {{authors | join(sep=", ")}}
            {% else %}
            Author: {{authors}}
            {% endif %}
        </p>
        {% endif %}
        {% if page.word_count > 0 %}
        <p>Word Count: {{page.word_count}} word{{page.word_count | pluralize}}</p>
        {% endif %}
        <p>
            {% if page.date %}
            {% if page.updated %}
            First Created: {{ page.date | date(timezone="America/Los_Angeles")}}
            {% else %}
            <strong>First Created: {{ page.date | date(timezone="America/Los_Angeles") }}</strong>
            {% endif %}
            {% endif %}
            <br />
            {% if page.updated %}
            <strong>Latest Update: {{ page.updated | date(timezone="America/Los_Angeles") }}</strong>
            {% endif %}
        </p>
        <p>
            <em>License:
                {% if page.extra.license %}
                {% set license = page.extra.license %}
                {% if license is string %}
                {{license}}
                {% elif page.extra.license is object %}
                {# FIX ME: Destructure license #}
                {% endif %}
                {% else %}
                <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'><abbr
                        title='Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International'>CC BY-NC-SA 4.0<abbr></a>
                {% endif %}
            </em>
        </p>
        <p>
        {% if page.taxonomies and page.taxonomies | length > 0%}
            Tags: <br />
        <dl aria-label="taglist">
            {% for taxon_key, taxon_val in page.taxonomies %}
            {% set taxon = get_taxonomy(kind=taxon_key) %}
            <dt>
                <a href="{{taxon.permalink}}">
                    {{taxon_key}}
                </a>
            </dt>
            {% if taxon_val is iterable %}
            {% for value in taxon_val %}
            <dd>
                <a href="{{get_taxonomy_url(kind=taxon_key,name=value)}}">{{value}}</a>
            </dd>
            {% endfor %}
            {% else %}
            <dd>
                <a href="{{get_taxonomy_url(kind=taxon_key,name=taxon_val)}}">{{taxon_val}}</a>
            </dd>
            {% endif %}
            {% endfor %}
        </dl>
        {% endif %}
        </p>
    </details>
</header>
{% endblock %}

{% block content %}
{% if page.extra.include_toc | default(value=true) %}
{% include "includes/page/toc.tera.html" %}
{% endif %}
<section id="content">
{{ page.content | safe }}
</section>

{% endblock content %}

{% block postcontent %}
<footer id="bottom-aside">
{{ super() }}
{% if show_sibling_pages %}
{% include "includes/page/sibling_pages.tera.html" %}
{% endif %}
{% if allow_comments %}
{% include "includes/page/giscus_comments.tera.html" %}
{% endif %}
</footer>
{% endblock %}