{% extends "layout/default_common.tera.html" %}

{% block title %}
{% set title = page.title %}
{{ super() }}
{% endblock title %}

{% block head_info %}
{{ super() }}
{% if page.extra.render_mermaid | default(value=false) %}
{% include "includes/scripts/mermaid.tera.html" %}
{% endif %}
{% if page.extra.footnote_backlink | default(value=true) %}
{% include "includes/scripts/footnote.tera.html" %}
{% endif %}
{% endblock head_info %}

{% block precontent %}
<aside id="top-aside">
{% if page.extra.include_toc | default(value=true) %}
{% include "includes/page/toc.tera.html" %}
{% endif %}
{{ super() }}
{% if page.title %}
<hgroup>
    <a href="#">
        <h1 id="#">
            {{ page.title }}
        </h1>
    </a>
    {% if page.description %}
    <p>{{page.description}}</p>
    {% endif %}
</hgroup>
{% else %}
<h1>Unknown Page</h1>
{% endif %}
    <details>
        <summary>Page Details</summary>
        {% if page.extra.authors or config.extra.authors %}
        {% set authors = page.extra.authors | default(value=config.extra.authors) %}
        <p>
            {% if authors is iterable %}
            Authors: {{authors | join(sep=", ")}}
            {% else %}
            Author: {{authors}}
            {% endif %}
        </p>
        {% endif %}
        <p>
            {% if page.date %}
            {% if page.updated %}
            First Created: {{ page.date | date(timezone="America/Los_Angeles")}}
            {% else %}
            <strong>First Created: {{ page.date | date(timezone="America/Los_Angeles") }}</strong>
            {% endif %}
            {% endif %}
            <br />
            {% if page.updated %}
            <strong>Latest Update: {{ page.updated | date(timezone="America/Los_Angeles") }}</strong>
            {% endif %}
        </p>
        <p>
            <em>License: {{ page.extra.license | default(value="CC BY-SA-NC") }}</em>
        </p>
        <p>
            Tags: <br />
        <dl aria-label="taglist">
            {% for taxon_key, taxon_val in page.taxonomies %}
            {% set taxon = get_taxonomy(kind=taxon_key) %}
            <dt>
                <a href="{{taxon.permalink}}">
                    {{taxon_key}}
                </a>
            </dt>
            {% if taxon_val is iterable %}
            {% for value in taxon_val %}
            <dd>
                <a href="{{get_taxonomy_url(kind=taxon_key,name=value)}}">{{value}}</a>
            </dd>
            {% endfor %}
            {% else %}
            <dd>
                <a href="{{get_taxonomy_url(kind=taxon_key,name=taxon_val)}}">{{taxon_val}}</a>
            </dd>
            {% endif %}
            {% endfor %}
        </dl>
        </p>
    </details>
</aside>
{% endblock %}

{% block content %}

{{ page.content | safe }}

{% endblock content %}

{% block postcontent %}
<footer id="bottom-aside">
{{ super() }}
{% if page.extra.allow_comments %}
{% include "includes/page/giscus_comments.tera.html" %}
{% endif %}
</footer>
{% endblock %}