{% macro accordion(label, link, level=0, children=false, is_list_item=true) %}
{% if children is iterable and children | length > 0%}
<details open>
    <summary> <a href="{{link}}">{{label}}</a></summary>
    <ol>
        {% for child in children %}
        <li>{{self::accordion(label=child.title, link=child.permalink, level=child.level, children=child.children)}}</li>
        {% endfor %}
    </ol>
</details>
{% elif is_list_item %}
<a href="{{link}}">{{label}}</a>
{%else%}
<li><a href="{{link}}">{{label}}</a></li>
{% endif %}
{% endmacro accordion %}

{% macro feather_svg(info, stroke="currentColor")%}
{% include "shortcodes/feather_svg.html" %}
{% endmacro feather_svg %}

{% macro feather_svg_direct(link, name, rel_link, placement="top", class="", stroke="currentColor")%}
{% include "shortcodes/feather_svg.html" %}
{% endmacro feather_svg %}

{% macro article_card(info)%}
<article>
    <header>
        <hgroup>
            <a href="{{ info.permalink | safe }}">
                <h1>{{ info.title }}</h1>
                {% if info.description %}
                <p>{{info.description}}</p>
                {% endif %}
            </a>
        </hgroup>
        {% set latest_date = self::section_latest_date(info=info) | trim %}
            {% if latest_date %}
            <p>Latest Update: {{latest_date}}</p>
            {% elif info.updated %}
            <p>Latest Update: {{info.updated }}</p>
            {% elif info.date %}
            <p>Latest Update: {{info.date }}</p>
            {% endif %}
    </header>
    {% if info.summary %}
    {{info.summary | safe}}
    {% endif %}
    {% if info.subsections %}
    <details>
        <summary>
            Subsections: {{info.subsections | length}}
        </summary>
        <ul>
            {% for subsection_path in info.subsections %}
            {% set subsection = get_section(path=subsection_path) %}
            <li><a href="{{subsection.permalink}}">{{subsection.title}}</a></li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
    {% if info.pages %}
    <details>
        <summary>
            Pages in Section: {{info.pages | length}}
        </summary>
        <ul>
            {% for page in info.pages %}
            <li><a href="{{page.permalink}}">{{page.title}}</a></li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
    {% if info.summary %}
    <footer>
        <a href="{{ info.permalink }}#continue-reading"><small> Continue Reading... </small></a>
    </footer>
    {% endif %}
</article>

{% endmacro article_card %}
{% macro section_latest_date(info)%}
{% set section_dates = [] %}
{% if subsection_dates is undefined %}
{% set subsection_dates = [] %}
{% endif %}

{% if info.pages %}
{% set section_dates = section_dates | concat(with=info.pages | map(attribute="date")) %}
{% set section_dates = section_dates | concat(with=info.pages | map(attribute="updated")) %}
{% endif %}

{% if info.subsections %}
{% for subsection_path in info.subsections %}
{% set subsect = get_section(path=subsection_path) %}
{% set subdate = self::section_latest_date(info=get_section(path=subsection_path)) | trim%}
{% if subdate %}
{% set subdate = subdate | date %}
{% set_global subsection_dates = subsection_dates | concat(with=subdate) %}
{% endif %}
{% endfor %}
{% endif %}


{% set latest_date = section_dates | concat(with=subsection_dates) | sort | last %}
{% if latest_date %}
{{latest_date | trim | date}}
{% endif %}
{% endmacro section_latest_date %}

{% macro build_search_index(section_paths, recursive=true)%}
{%- for section_path in section_paths -%}
{%- set section = get_section(path=section_path) -%}
{%- for post in section.pages -%}
{% if not post.draft %}
{
"title": {{ post.title | striptags | json_encode | safe }},
"url": {{ post.permalink | json_encode | safe }},
"body": {{ post.content | striptags | json_encode |safe}}
}{% if not loop.last %},{% endif %}
{% endif %}
{%- endfor -%}
{% if recursive and section.subsections %}
,{{self::build_search_index(section_paths=section.subsections, recursive=recursive)}}
{% endif %}

{% if not loop.last %},{% endif %}

{%- endfor -%}
{% endmacro build_search_index %}